@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #e0e0e0;
    min-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #000000;
}

#menu {
    display: none;
}

#logo a {
    text-decoration: none;
    color: #fff;
}

#mobile-menu-icon button {
    font-size: 2em;
    color: #fff;

    border: none;
    outline: none;

    cursor: pointer;
    background: transparent;
}

#mobile-menu {
    display: none;
    position: fixed;
    right: 0;
    width: 200px;
    height: 315px;
    margin: 10px;
    z-index: 1000;

    border-radius: 10px;
    background: #1111116c;
    backdrop-filter: blur(10px);
}

#mobile-menu ul {
    position: absolute;
    top: 0;
    left: 15px;

    text-align: center;
    list-style: none;
}

#mobile-menu li {
    margin: 20px;
    border-radius: 5px;
    transition: 0.3s ease;
}

#mobile-menu li:hover {
    background: #cccccc71;
}

#mobile-menu a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    color: #fff;
}

#mobile-menu button {
    width: 170px;
    padding: 10px;
    font-size: 1.1em;

    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;

    font-weight: 500;
    color: #fff;

    background: #4747ff;
    transition: 0.3s ease;
}

#mobile-menu button:hover {
    background: #2323b8;
}

main {
    position: relative;
    height: auto;
    padding-block-end: 20px;
    background: #000 linear-gradient(
        to bottom, #01030a, #06123d, #01030a
    );
    z-index: 0;
}

#hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    width: 80%;
    height: 400px;
    padding: 20px 15px;
    margin: auto;

    text-align: center;
    border-radius: 0 0 10px 10px;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
    
    color: #fff;
    background: #000 url(../imagens/movies-back.jpg) no-repeat;
    background-size: cover;
    z-index: 1;
}

#hero::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;

    z-index: -1;
    background: #00000070 linear-gradient(
        to bottom, #000000c4, #00000086, #3b3b3bb7
    );
}

#hero-title {
    margin-block-end: 20px;
}

#hero .input-box {
    margin-block-start: 10px;
}

#hero .input-box p {
    padding: 10px;
    font-size: .9em;
}

.input-form {
    display: flex;
    flex-direction: column;
}

.input-box input {
    padding: 12px;
    margin: 5px;

    border-radius: 40px;
    border: 1px solid #a8a8a8;
    outline: none;

    font-size: 1em;
    color: #ebe8e8;

    background: #585858e3;
}

.input-box input::placeholder {
    color: #c2c2c2;
}

.input-box input:focus {
    outline: 1px solid #fff;
}

.input-box button {
    position: relative;
    cursor: pointer;
    padding: 12px;
    margin: 5px;

    border-radius: 40px;
    border: none;
    outline: none;

    font-size: 1em;
    font-weight: 500;
    color: #fff;
    z-index: 1;
    transition: .3s ease;
}

.input-box button:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px #060652, 0 0 25px #4e4ebe;
}

.input-box button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: -1;
    border-radius: 40px;
    background: linear-gradient(
        40deg,  #060652,  #3030bb, #4e4ebe
    );
}

#promo {
    position: relative;
    width: 80%;
    padding: 15px;
    margin: auto;
    margin-block: 20px;

    border-radius: 10px;
    border: 1px solid #a8a8a8;

    background: #ffffff26;
    backdrop-filter: blur(10px);
    transition: 0.4s ease-in-out;
}

#promo #promo-title h2 {
    font-size: 1em;
    margin-block-end: 10px;
}

#promo #promo-title p {
    font-size: .9em;
}

#promo button {
    width: 120px;
    padding: 10px;
    margin-block-start: 15px;

    border-radius: 40px;
    border: 2px solid #a8a8a8;
    outline: none;
    cursor: pointer;

    font-weight: 500;
    color: #fff;
    background: transparent;
    transition: 0.3s ease;
}

#promo button:hover {
    color: #000;
    background-color: #e0e0e0;
}

#promo:hover {
    transform: scale(1.04);
}

#trending h2 {
    text-align: center;
    margin-block: 20px;
    color: #f5f4f4;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    max-height: 250px;
}

.scroll-container::-webkit-scrollbar {
    width: 0;
}

.scroll-container .item {
    min-width: 110px;
    height: 200px;
    margin: 10px;

    text-align: center;
    line-height: 200px;

    border-radius: 10px;
    background: #0000006b;
    transition: .3s ease-in-out;
}

.scroll-container .item:hover {
    transform: scale(1.04);
}

#benefits h2 {
    margin: 20px 0 20px 25px;
}

.benefit-item {
    width: 90%;
    height: 180px;

    padding: 20px;
    margin: auto;
    margin-block: 10px;

    border-radius: 10px;
    border: 1px solid #a8a8a8;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
}

.benefit-item h3 {
    font-size: 1em;
    font-weight: 500;
    margin-block-end: 15px;
    color: #fff;
}

#sign-up-end .input-box {
    display: flex;
    align-items: center;

    text-align: center;

    width: 90%;
    height: auto;
    margin: auto;
    padding: 30px 5px;
    margin-block: 30px;
}

#sign-up-end .input-box p {
    margin-block-end: 30px;
}

#sign-up-end .input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#sign-up-end .input-form-end {
    display: flex;
    flex-direction: column;
    width: 60%;
}

footer {
    background: #000000;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

footer a {
    text-decoration: none;
    color: #cfcece;
    transition: .4s ease;
}

footer a:hover {
    color: #6262fa;
}